!!!
%html{lang: 'ja'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    %meta{name: 'keywords',content: @page_keywords}/
    %meta{name: 'description',content: @page_description}/
    %meta{:content => "ja", "http-equiv" => "content-language"}/

    %title 家計簿
    %link{href: "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet", integrity: "sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin: "anonymous"}
    %script{:src => "//cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"}
    = stylesheet_link_tag 'main', media: 'all'
    = javascript_include_tag 'main'
  %body
    %header
      = render 'layouts/mypage/header'
    %main(role="main")
      .container
        = yield
      .modal.fade#modal{:role => "dialog", :tabindex => "-1"}
    #ajax-loading.d-none
      %p
        %i.fa.fa-refresh.fa-spin.fa-5x.fa-fw
        %span.sr-only Loading...