.container
  .d-flex.flex-column
    %a{href: new_user_mypage_money_box_path(@current_user)}
      新しいbox
    %p.text-danger 今月の出費
  .d-flex.flex-column
    - @boxes.each do |box|
      .mt-3
        %a{href: new_mypage_money_box_payed_path(box)}
          新しい出費
      .card.background-cover-white-10{id: "box-list"}
        .mt-1.mb-2
          - if box.image.attached?
            = image_tag box.image.variant(resize: '100x100')
          = box.name
          合計金額
          = box.payeds.all.sum(:price).to_i
          円
      .card.d-none{id: "box-item"} aaaaaaaaaaaa
        
      = render partial: 'scripts',locals: {box: "box.id"}