.container
  %nav.navbar.navbar-light.navbar-expand-lg
    %a.navbar-brand{:href => root_path}LOGO
    %button.navbar-toggler{:type => "button", "data-toggle" => "collapse", "data-target" => "#navbarNav", "aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation"}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse.float-left#navbarNav
      %ul.navbar-nav.navbar-nav-between
        .navbar-nav-between1
          %li.nav-item.active
            %a.nav-link{:href => manages_life_manages_path}家計計算 
          %li.nav-item
            %a.nav-link{:href => "#"}貯蓄計算
          %li.nav-item
            %a.nav-link.disabled{:href => "#"}未来予想
        .navbar-nav-between1
          - if current_user.present?
            %li.nav-item.active
              %a.nav-link{:href => user_mypage_index_path(current_user)}Mypage
            %li.nav-item
              %a.nav-link{:href => destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}}ログアウト
          - else
            %li.nav-item
              %a.nav-link{:href => new_user_session_path}Login or SignUp