.background-cover-gray.text-center
  .sidebar-icon.h2.pt-4
    = image_tag "money_logo_small.png", class: "img-fluid"
  .sidebar-list.d-flex.flex-column.text-white.h5
    %i.fa.fa-list
    %i.fa.fa-pencil
    %i.fa.fa-plus
    %i.fa.fa-trash
    %i.fa.fa-clock-o
    %i.fa.fa-envelope